html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Fondo general de la interfaz */
.general_container {
    width: 100%;
    height: 100vh;
    display: flex; 
    justify-content: center;
    align-items: center;            
    flex-direction: column;    
    background: linear-gradient(
        to bottom, 
        #0077b6 50%,
        #0077b6 50%, 
        white 50%, 
        white 100%
    );
}

/* Espacio del titulo y la imagen principal de la app */
.contenido_header{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* Texto del titulo general */
.contenido_header p{
    color: white;
    font-family: "Viga", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
}

/* Espacio donde va el menu de los botones */
.botones{
    width: 100%;
    height: auto;   
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

/* Sección de la card que nos diregie a los diferentes apartados */
.card{
    width: 18em;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
}

/* SECCION DE LAS ENTRADAS PARA EL REGISTRO DE ENTRADAS Y SALIDAS */

/* Botones */
.space_buttom{
    display: flex;
    flex-direction: column;
}

/* SECCION DEL APARTADO DEL SCANNER QR */
.fondo_escaner {
    width: 100%;
    height: 100vh;
    display: flex; 
    justify-content: center;
    align-items: center;            
    flex-direction: column;    
    background: linear-gradient(
        to bottom, 
        #0077b6,  /* azul original */
        #90e0ef   /* azul suave */
    );
}


/* Responsiva para la vista de celular */
@media screen and (max-width: 480px){
    .botones{
        flex-wrap: wrap;
        gap: 2em;
    }

    .card{
        width: 10em;
    }

    .contenido_header{
        height: 20vh;
        position: relative; /* Mueve el elemento hacia arriba sin mover los contenedores que tenga a sus alrededores */
        top: -80px;
    }

    .general_container {
        height: 100vh;     
        background: linear-gradient(
            to bottom, 
            #0077b6 50%,
            #0077b6 50%, 
            white 50%, 
            white 100%
        );
    }

    /* SECCIÓN RESPONSIVA PARA EL APARTADO DEL DIRECCIONAMIENTO AL REGISTRO DE ENTRADAS Y SALIDAS */
    .space_buttom{
        gap: 20em;
    }

}