html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Fondo general de la interfaz */
.general_container {
    width: 100%;
    height: 100vh;
    display: flex; 
    justify-content: center;
    align-items: center;            
    flex-direction: column;    
    background: linear-gradient(
        to bottom, 
        #0077b6 50%,
        #0077b6 50%, 
        white 50%, 
        white 100%
    );
}

/* Espacio del titulo y la imagen principal de la app */
.contenido_header{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

/* Texto del titulo general */
.contenido_header p{
    color: white;
}

/* Espacio donde va el menu de los botones */
.botones{
    width: 100%;
    height: auto;   
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

/* Sección de la card que nos diregie a los diferentes apartados */
.card{
    width: 18em;
}

/* Responsiva para la vista de celular */
@media screen and (max-width: 480px){
    .botones{
        flex-wrap: wrap;
        gap: 2em;
    }

    .card{
        width: 10em;
    }

    .contenido_header{
        height: 25vh;
        position: relative; /* Movueve el elemento hacia arriba sin mover los contenedores que tenga a sus alrededores*/
        top: -80px;
    }

    .general_container {
        height: 100vh;     
        background: linear-gradient(
            to bottom, 
            #0077b6 50%,
            #0077b6 50%, 
            white 50%, 
            white 100%
        );
    }

}